:root {
  --primary-fond: "Roboto", sans-serif;
  --secondary-fond: "Raleway", sans-serif;
  --primary-text-color-theme-light: #434455;
  --primary-text-color-theme-dark: #ffffff;
  --text-color-theme-dark: #e7e9fc;
  --main-color: #4d5ae5;
  --brand-color: #2e2f42;
  --secondary-background-color: #f4f4fd;
}

body {
  background-color: white;
  font-family: var(--primary-fond);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* HEADER */
.acent {
  color: var(--main-color);
}

.logo {
  font-family: var(--secondary-fond);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--main-color);
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--main-color);
}

.menu:hover,
.menu:focus,
.contacts:hover,
.contacts:focus {
  color: var(--main-color);
}

/* HERO */

.hero {
  background: var(--brand-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--primary-text-color-theme-dark);
}

.btn:hover,
.btn:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: #404bbf;
}

/* SKILLS */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.skills-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.skills-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
/* TEAM */
.team {
  background: var(--secondary-background-color);
}
.title-team {
  font-family: var(--primary-fond);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.item-team-title {
  font-family: var(--primary-fond);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.team-text {
  font-family: var(--primary-fond);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

.item-team {
  background-color: var(--primary-text-color-theme-dark);
}

/* FOOTER */

.footer {
  background: var(--brand-color);
}
.studio {
  color: var(--secondary-background-color);
}
.footer-text {
  font-family: var(--primary-fond);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-theme-dark);
}

/* SERVICES */

.btn.primary {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-color);
  background-color: var(--secondary-background-color);
}

.btn.primary:hover,
.btn.primary:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--main-color);
}

.gallery-title {
  font-family: var(--primary-fond);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
